// Custom styles.

#header {
	background: #f0f0f0;
}


#content, #comments {
	background: rgba(255, 255, 255, 0.76);
	border-radius: 1em;
}

@media print {
	#header, #comments, #footer, .highlight figcaption a {
		display: none;
	}
}

.theme-next #ds-thread #ds-reset .ds-replybox {
	border: 1px solid #efefef;
	background: #ffffff;
}

.theme-next #ds-thread #ds-reset .ds-post-options {
	margin-right:1px;
}

.tag-cloud-tags a {
	color: #669999;
}

.tag-cloud-tags a: hover {
	color: #6699CC;
}

