// Custom styles.
body{
	background: #333333 url('/images/background.jpg') no-repeat center fixed;
}

#header {
	background: #f0f0f0;
}


#content, #comments {
  background: rgba(255, 255, 255, 0.76);
  padding: 2em;
	border-radius: 1em;
}

@media print {
	#header, #comments, #footer, .highlight figcaption a {
		display: none;
	}
}

.theme-next #ds-thread #ds-reset .ds-replybox {
	border: 1px solid #78f5f5;
}

#ds-thread #ds-reset a.ds-like-thread-button {
	background: #efefef;
}
